:root {
    --primary-bg-color: #343545;
    --navbar-bg-color: #707287;
    --navbar-text-color: #32a8cc;
    --logo-bg-color: #69BDD0;
    --link-color: #69BDD0;
    --link-hover-color: #a8d7e1;
}

body {
    background-color: var(--primary-bg-color);
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #fdfdfd;
}

#navbar {
    border-radius: 10px;
    background-color: var(--navbar-bg-color);
    color: var(--navbar-text-color);
    width: 100%;
    max-width: 1130px;
    height: 90px;
    margin: 30px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-weight: bold;
}

#logo-container {
    width: 50px;
    height: 50px;
    background-color: var(--logo-bg-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 40px;
    height: 40px;
}

#navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#navbar a {
    text-decoration: none;
    color: var(--link-color);
    transition: color 0.2s;
}

#navbar a:hover {
    color: var(--link-hover-color);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--navbar-bg-color);
    width: 100%;
    max-width: 1130px;
    margin: 30px auto;
    padding: 20px;
}

#projetos {
    color: var(--navbar-text-color);
}


#inicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 320px;    
    
}

#texto-inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin-left: 40px;
     
}

#texto-inicio h1{
   
    font-size: 24px;
    margin: unset;
}

#texto-inicio h2{
    color: var(--navbar-text-color);
    font-size: 64px;   
    margin: unset;
    line-height: 60px; 
}
#foto-inicio{
    display: flex;
    justify-content: center;
    width: 30%;
}
#foto {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    
}

#sobre{
    align-items: flex-start;
}

#sobre h2 {
    color: var(--navbar-text-color);
    line-height: 0px;
}

#sobre p {
    line-height: normal;
    margin: auto;
}

#sobre-logos.logos{
    width: 40px;
    height: 40px;
    background-color: var(--logo-bg-color);
    border-radius: 50%;
    
}